body {
  background-image: linear-gradient(135deg, #0a080a 10%, #444352 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Open Sans", sans-serif;
  color: #333333;
}

.box-form {
  margin: 0 auto;
  width: 80%;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 0 0 20px 6px #090b6f85;
}
@media (max-width: 980px) {
  .box-form {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.box-form div {
  height: auto;
}
.box-form .left {
  color: #fffbfb;
  background-size: cover;
  background-repeat: no-repeat;
  background-image:url(https://c4.wallpaperflare.com/wallpaper/184/438/366/anime-death-note-l-death-note-light-yagami-wallpaper-preview.jpg); 
  overflow: hidden;
  background-color: white;
  padding-right: 118px;
}
.box-form .left .overlay {
  padding: 30px;
  width: 100%;
  height: 100%;
  
  overflow: hidden;
  box-sizing: border-box;
}
.box-form .left .overlay h1 {
  font-size: 10vmax;
  line-height: 1;
  font-weight: 900;
  margin-top: 40px;
  margin-bottom: 20px;
}
.box-form .left .overlay span p {
  margin-top: 30px;
  font-weight: 900;
}
.box-form .left .overlay span a {
  background: #ffffff;
  color: #000000;
  margin-top: 10px;
  padding: 14px 50px;
  border-radius: 100px;
  display: inline-block;
  box-shadow: 0 3px 6px 1px #042d4657;
}
#fb:hover {
background:linear-gradient(90deg,rgb(37, 156, 235),rgb(63, 63, 241)) ;
color: white;
}
#twit:hover {
  background:linear-gradient(90deg,rgb(4, 112, 185),rgb(75, 75, 218)) ;
  color: white;
  }
  #goog:hover {
    background:linear-gradient(90deg,rgb(236, 82, 82),rgb(234, 209, 65));
    color: blue;
    }
.box-form .left .overlay span a:last-child {
  background: #fcf9fb;
 
  color: rgb(15, 15, 15);
}

.box-form .left .overlay span a:last-child:hover {
  background:linear-gradient(90deg,rgb(228, 55, 165),rgb(236, 71, 71));
  color: rgb(255, 255, 255);
}
.box-form .right {
  padding: 102px;
  overflow: hidden;
  background-color: #66BFBF;
}
@media (max-width: 980px) {
  .box-form .right {
    width: 100%;
  }
}
.box-form .right h5 {
  font-size: 6vmax;
  line-height: 0;
  color: white;
}
.box-form .right p {
  font-size: 14px;
  color: #ffffff;
}
.box-form .right .inputs {
  overflow: hidden;
}
.box-form .right input {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}
.box-form .right .remember-me--forget-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-form .right .remember-me--forget-password input {
  margin: 0;
  margin-right: 7px;
  width: auto;
}
.box-form .right button {
  float: right;
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #49c628a6;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

label {
  display: block;
  position: relative;
  margin-left: 30px;
}

label::before {
  content: ' \f00c';
  position: absolute;
  font-family: FontAwesome;
  background: transparent;
  border: 3px solid #70F570;
  border-radius: 4px;
  color: transparent;
  left: -30px;
  transition: all 0.2s linear;
}

label:hover::before {
  font-family: FontAwesome;
  content: ' \f00c';
  color: #fff;
  cursor: pointer;
  background: #70F570;
}

label:hover::before .text-checkbox {
  background: #70F570;
}

label span.text-checkbox {
  display: inline-block;
  height: auto;
  position: relative;
  cursor: pointer;
  transition: all 0.2s linear;
}

label input[type="checkbox"] {
  display: none;
}